.office_info {
  font-size: 18px;
  margin: 15px;
}
.info {
  margin-bottom: 15px;
}
.info_content {
  text-align: center;
  font-size: xx-large;
}
.restrooms_content_no_vacancy {
  color: red;
  text-align: center;
  font-size: larger;
}
.restrooms_content_vacancy {
  color: blue;
  text-align: center;
  font-size: larger;
}
.restrooms_content_women {
  font-size: larger;
}
.restroom-women {
  background-color: lightgray;
}
