@import '@material/react-button/index.scss';
@import '@material/button/mixins';
@import '@material/tab/mixins';

@import '@material/react-tab-bar/index.scss';
@import '@material/react-tab-scroller/index.scss';
@import '@material/react-tab/index.scss';
@import '@material/react-tab-indicator/index.scss';

.row {
  margin-right: 0px;
}
button:focus {
  outline: none;
  outline: none;
}
.mdc-button__label {
  font-size: 16px;
}
.button-primary {
  @include mdc-button-filled-accessible(#f3f3f3);
  @include mdc-button-ink-color(#212529);
  @include mdc-button-outline-color(#bdbdbd);
  @include mdc-button-outline-width(1px);
}
.button-submit {
  @include mdc-button-filled-accessible(#2a91ff);
  @include mdc-button-ink-color(#fff);
  @include mdc-button-outline-color(#2a91ff);
  @include mdc-button-outline-width(1px);
}
.button-submit.mdc-button:disabled.mdc-button--outlined:disabled {
  background-color: #88c1ff;
  color: #fff;
  border-color: #5cabff;
}
.modal-button-clear {
  @include mdc-button-outline-width(1px, 0px);
  height: 23px;
  margin-bottom: 4px;
}
.modal-button-clear > .mdc-button__label {
  font-size: 13px;
}
.button-user-delete {
  @include mdc-button-filled-accessible(#fff);
  @include mdc-button-ink-color(#a6adb5);
  @include mdc-button-outline-color(#d4d9dd);
  @include mdc-button-outline-width(1px);
  margin-right: auto !important;
}

.tab.mdc-tab {
  height: 35px;
}
.tab.mdc-tab-bar {
  height: 35px;
}
