.modal-button {
  width: 10rem !important;
  margin-left: 8px !important;
}
.initialStartupModal > .modal-content {
  width: 400px;
  margin: auto;
}
.error-message {
  color: red;
  font-size: 18px;
  padding: 1rem;
}
.userChange {
  font-size: 13px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 4px;
  position: relative;
  padding-right: 0px;
}
