.btn-light {
    color: #212529;
    background-color: #eeeeee;
    border-color: #d9dde0;
}
.btn-light:hover {
    color: #212529;
    background-color: #d9dde0;
    border-color: #dae0e5;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    background-color: #abaeb1;
}
.btn-light:disabled:hover {
    background-color: #f8f9fa;
}
.menu-button-group {
  text-align: center;
}
.container {
    margin-right: 18px;
}
