.settings {
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 18px;
}
.setting_user {
  margin-bottom: 1%;
}
.setting_system {
  margin-bottom: 1%;
}
.button-save {
  position: absolute;
  bottom: 12%;
  right: 3%;
}
