.modal-button {
  width: 10rem !important;
  margin-left: 8px !important;
}
.userEditModal > .modal-content {
  width: 680px;
  margin: auto;
}
.error-message {
  color: red;
  font-size: 18px;
  padding: 1rem;
}
.name {
  padding-right: 10px;
}
.status {
  padding-right: 10px;
}
.__react_component_tooltip.type-dark.place-top:after {
  border-top-color: #666;
}
.__react_component_tooltip.type-dark {
  background-color: #666;
}
