.modal-button {
  width: 10rem !important;
  margin-left: 8px !important;
}
.userEditModal > .modal-content {
  width: 85%;
  margin-left: 7.5%;
}
.error-message {
  color: red;
  font-size: 18px;
  padding: 1rem;
}
.name {
  padding-right: 10px;
}
.status {
  padding-right: 10px;
}
.userChange {
  font-size: 13px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 4px;
  position: relative;
}
.__react_component_tooltip.type-dark.place-top:after {
  border-top-color: #666;
}
.__react_component_tooltip.type-dark {
  background-color: #666;
}
